{
    "presets": [["env"]],
    "plugins": [
        "transform-object-assign",
        "array-includes",
        "transform-async-to-generator",
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ]
}
